<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720011810227-nhqo9nmvcs5ts88pvuumdrr8fe7e6eam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720011810227-nhqo9nmvcs5ts88pvuumdrr8fe7e6eam</string>
	<key>API_KEY</key>
	<string>AIzaSyAzeLg8MVU1LAIqgRZzp3qoIub1jIGUU7A</string>
	<key>GCM_SENDER_ID</key>
	<string>720011810227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elizeurs.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappios-e0a89</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-e0a89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720011810227:ios:dd7cf5ccbbb30b182c27c6</string>
</dict>
</plist>